html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

html,body{
    height: 100%;
    overflow: hidden;
}

body,html{
    margin: 0;
}

body{
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,1);
}

#video{
    background-color: rgba(0,0,0,1);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
}

#imgz{
    position: absolute;
    overflow: hidden;
}

#img_a{

}

#img_b{

}

.img_slide{
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#txtz{
    position: absolute;
    height: 40px;
    bottom: -40px;
    overflow: hidden;
}

#txtz_entry_list{
    position: absolute;
    color: white;
    white-space: nowrap;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
}

.txtz_entry.title{
    background-color: red;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.txtz_entry.desc{
    padding-left: 10px;
    padding-right: 10px;
    background-color: #F1B500;
    color: black;
}
